:root{
    --blank: #d5d9ea;
    --light: #86b3cb;
    --lightblue: #82d4ed;
    --primary: #3abae3;
    --dark: #0c77a8;
    --superdark: #134783;

}



*{
    margin: 0;
    padding: 0;
}

.navbar{
  display: flex;
  align-content: center;
  justify-content: center;
}


.logo img{
  position: inherit;
  width: 10vw;
  padding: 0.5vb;
}

.elements{
  display: flex;
}

.dropdown{
  margin: 1vb;
  padding: 1vb;
  font-family: 'Viga';
}

.elements a {
  text-decoration: none;
  color: var(--superdark);
  margin: 1vb;
  padding: 1vb;
  font-family: 'Viga';
}




/* The container <div> - needed to position the dropdown content */

  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    font-family: 'Viga';
  }

  /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: flex; flex-direction: column;}



/* Aggiunge spaziatura agli elementi del dropdown e una sottile cornice rettangolare */
.dropdown-content .dropdown-item {
  border: hidden; 
}

.dropdown-content .dropdown-item a {
  display: block; /* Assicura che i link occupino l'intero spazio dell'elemento */
  width: 100%; /* Allinea gli elementi al dropdown */
  text-decoration: none; /* Rimuove la sottolineatura dai link */
  color: var(--superdark); /* Colore del testo */
}

.dropdown-content .dropdown-item a:hover {
  background-color: var(--blank); /* Colore di sfondo quando si passa il mouse sopra un elemento */
  border: 0.1vb solid var(--superdark); /* Colore della cornice */
  border-radius: 1vb; /* Aggiunge bordi arrotondati */
}
