:root {
  --blank: #d5d9ea;
  --light: #86b3cb;
  --lightblue: #82d4ed;
  --primary: #3abae3;
  --dark: #0c77a8;
  --superdark: #134783;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 10vw;
  padding: 0.5rem;
}

.elements {
  display: flex;
  align-items: center;
}

.elements a {
  text-decoration: none;
  color: var(--superdark);
  padding: 1rem; /* Mantenuto il padding originale */
  font-family: 'Viga';
  display: flex;
  align-items: center;
  position: relative; /* Posizione relativa per posizionare il dropdown assoluto */
  margin-left: 1rem; /* Add margin-left for spacing between elements */
}

.elements a:first-child {
  margin-left: 0; /* Remove margin-left from the first child to avoid extra space on the left */
}

.elements a:hover {
  color: var(--dark);
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: calc(100% - 1px); /* Adjust top positioning to align with the button */
  left: 0;
  z-index: 1;
  text-align: left;
  padding: 0.5rem 0;
  background-color: white; /* Optional: set background color for dropdown */
  border: 1px solid var(--superdark); /* Optional: add border for dropdown */
  width: max-content; /* Adjust width as needed */
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content .dropdown-item {
  /* Remove border */
  border: none;
  padding: 0; /* Remove padding to ensure no additional space */
}

.dropdown-content .dropdown-item a {
  display: block;
  text-decoration: none;
  color: var(--superdark);
  padding: 0.5rem 1rem;
  text-align: left;
  white-space: nowrap; /* Prevent text from wrapping */
}

.dropdown-content .dropdown-item a:hover {
  color: var(--dark);
}
