/*==================================================text with parallax=====================================================*/
 .image-container {
     position: relative;
     width: 100%;
     height: 100vh;
     overflow: hidden;
     background-color: var(--black);
}
 .parallax {
     background-image: url("../content/accscuola/acc.jpg");
     min-height: 100vh;
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
}
/* Text overlay */
 .text-overlay {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
     height: 100%;
     color: var(--white);
     text-shadow: 2px 2px 4px var(--black);
     font-family: 'Viga';
     font-size: 4vw;
    /* Set font-size here */
}
 .image-container img {
     width: 100%;
     height: 100%;
     object-fit: cover;
     opacity: 50%;
}
/*=======================================================================================================*/
 @media screen and (min-width: 1118px) {
     .image-container {
         height: 50vh;
    }
     .image-container img {
         width: 50%;
         margin: 0 auto;
    }
     .text-overlay {
         font-size: 4vw;
    }
     body {
         grid-template-columns: 1fr 1fr;
         grid-template-rows: 1fr, 1.5fr, 1.2fr, 0.8fr, 0.5fr, 0.8fr 0.5fr, 0.7fr, 0.6fr, 0.9fr, 0.4fr;
         grid-template-areas: "main main" "moreText moreText" "content1 content2" "content3 content4" "content5 content6" "articles articles" "footer footer";
         grid-gap: 0.2rem;
    }
}
 @media screen and (max-width: 1118px) {
     .image-container {
         height: 100vh;
    }
     .text-overlay {
         font-size: 4vw;
    }
     body {
         grid-template-columns: 1fr;
         grid-template-rows: 1fr, 1.5fr, 1.2fr, 0.8fr, 0.5fr, 0.7fr, 0.6fr, 0.9fr, 0.4fr;
         grid-template-areas: "main" "moreText" "content1" "content2" "content4" "content3" "content5" "content6" "articles" "footer";
    }
}
 h3{
     font-size: 2rem;
     font-family: var(--body-font);
     color: var(--blue);
}
 .content1{
     grid-area: content1;
     margin: 3rem;
     text-align: justify;
     font-size: 1.2rem;
}
 .content2 img{
     position: relative;
}
 .content2{
     grid-area: content2;
     display: flex;
     align-items: center;
     justify-content: center;
}
 .content3{
     grid-area: content3;
     display: flex;
     align-items: center;
     justify-content: center;
}
 .content3 img{
     position: relative;
     width: 80%;
     height: 70%;
}
 .content4{
     grid-area: content4;
     margin: 4rem;
     text-align: justify;
     font-size: 1.2rem;
}
 .content5{
     grid-area: content5;
     margin: 3rem;
     text-align: left;
     font-size: 1.2rem;
}
 .content6{
     grid-area: content6;
     margin: 1rem;
     display: flex;
     align-items: center;
     justify-content: center;
}
 .content6 img{
     position: relative;
     width: 80%;
     height: 80%;
}
 .moreText{
     grid-area: moreText;
     text-align: center 
}
#slider {
  position: relative;
  width: 100%;
  max-width: 800px; 
  height: 400px;
  margin: 0 auto;
  overflow: hidden;
  background-color: transparent; 
  border: none; 
}

#slider ul {
  display: flex; 
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out; 
  list-style: none; 
}

#slider ul li {
  min-width: 100%; 
  height: 100%;
  box-sizing: border-box; 
}

#slider ul li img {
  width: 100%; 
  height: 100%; 
  object-fit: contain; 
  display: block; 
}

#slider #prev, #slider #next {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: 2px solid rgba(255, 255, 255, 0.8);
  cursor: pointer;
  transition: transform 4s ease-in-out; 
}

#slider #prev {
  left: 10px; 
}

#slider #next {
  right: 10px; 
}

#slider #prev:hover, #slider #next:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
