.image-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Adjust as needed */
    overflow: hidden; /* Hide content that overflows the container */
  }
  
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }
  
  .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: var(--blue); /* Adjust color as needed */
    font-size: 5vw; /* Responsive font size */
    text-shadow: 2px 2px 4px var(--black); /* Adjust shadow*/
    font-family: 'Viga';

  }
  
  /* for mobile size */
  @media screen and (max-width: 340px) {
    .image-container {
      height: 50vh;
    }
    .image-container img {
      width: 50%; /* Set image width to 50% of the page */
      margin: 0 auto; /* Center the image horizontally */
    }
    .text-overlay {
      font-size: 2vw;
    }
  }
  
  /* for standard size */
  @media screen and (min-width: 1118px) {
    .image-container {
      height: 100vh;
    }
    .text-overlay {
      font-size: 4vw;
    }
  }

  body {
    
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr, 1.5fr, 1.2fr, 0.8fr, 0.5fr;
  
    grid-template-areas: 
      "main main"
      "content1 content2"
      "moreText moreText"
      "articles articles"
      "footer footer";     
      grid-gap: 0.2rem;
  }
  h3{
    font-size: 2rem;
    font-family: var(--body-font);
    color: var(--blue);
  }
  .content1{
    margin: 2rem;
    text-align: left;
  }
  .content2 img{
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .content2{
    margin: 2rem;
  }