.parallax {
  background-image: url("../content/commissione/parlamento.jpg");
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax::before {
  background-size: cover;
  content: '';
  inset: 0;
  opacity: 0.65;
}

.image-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: var(--white);
  perspective: 1px;
  transform-style: preserve-3d;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.image-container img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 65%;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--blue);
  text-shadow: 2px 2px 4px var(--black);
  font-family: 'Viga';
}

/* Mobile size adjustments */
@media screen and (max-width: 1118px) {
  .image-container {
    height: 50vh;
  }
  .image-container img {
    width: 50%;
    margin: 0 auto;
  }
  .text-overlay {
    font-size: 4vw;
  }

  #articles {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  body {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1.5fr 1.2fr 0.8fr 0.5fr 0.8fr auto auto;
    grid-template-areas:
      "main"
      "content1"
      "content2"
      "moreText"
      "articles"
      "meetingTitle"
      "events"
      "footer";
    grid-gap: 0.2rem;
  }
}


/* Standard size adjustments */
@media screen and (min-width: 1118px) {
  .image-container {
    height: 100vh;
  }
  .text-overlay {
    font-size: 4vw;
  }

  body {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1.5fr 1.2fr 0.8fr 0.8fr 0.8fr 0.5fr;
    grid-template-areas:
      "main main"
      "content1 content2"
      "moreText moreText"
      "articles articles"
      "meetingTitle meetingTitle"
      "events events"
      "footer footer";
    grid-gap: 0.2rem;
  }
}

.meeting-title {
  grid-area: meetingTitle;
  height: 10rem;
  text-align: center;
  margin-top: 40px;
  margin-bottom: -60px;
  color: var(--blue);
  font-size: 5rem;
}

.events {
  grid-area: events;
  display: flex;
  justify-content: space-around;
  word-wrap: break-word;
  padding-bottom: 2rem;
}

.events .event-block {
  background-color: hsl(222, 26%, 80%);
  width: 30%;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-10px);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  flex-wrap: wrap;
}

.events .event-block:hover {
  transform: translateY(-15px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

h3 {
  font-size: 2rem;
  font-family: var(--body-font);
  color: var(--blue);
}

.content1 {
  margin: 3rem;
  text-align: left;
  font-size: 1.2rem;
  text-align: justify;
}

.content2 img {
  width: 90%;
  height: 90%;
  position: relative;
}

.content2 {
  margin: 1rem;
  margin-top: 5rem;
  text-align: center;
}

main {
  flex-wrap: wrap;
}

.moreText {
  margin: 2rem;
  font-size: 1.2rem;
  text-align: center;
}

.titolo {
  font-size: 2.5rem;
}



/*=================================Articoli=================================*/

.gallery{
  width: 100%;
}
.gallery-container{
  align-items: center;
  display: flex;
  height: 400px;
  margin: 0 auto;
  max-width: 1000px;
  position: relative;
}
.gallery-item{
  height: 200px;
  opacity: 0;
  position: absolute;
  transition: all 0.3s ease-in-out;
  width: 330px;
  z-index: 0;
  border-radius: 15px;
  background-size: contain;
}

.gallery-item-1{
  left: 15%;
  opacity: .4;
  transform: translateX(-50%);
}

.gallery-item-2, .gallery-item-4{
  height: 250px;
  opacity: 0.8;
  width: 380px;
  z-index: 1;
}

.gallery-item-2{
  left: 30%;
  transform: translate(-50%);
}

.gallery-item-3{
  box-shadow: -2px 5px 33px 6px rgba(0,0,0,0.35);
  height: 300px;
  opacity: 1;
  left: 50%;
  transform: translateX(-50%);
  width: 430px;
  z-index: 2;
}

.gallery-item-4{
  left: 70%;
  transform: translateX(-50%);
}

.gallery-item-5{
  left: 85%;
  opacity: .4;
  transform: translateX(-50%);
}


.gallery-controls{
  display: flex;
  justify-content: center;
  height: 100px;
}

.gallery-controls button{
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 30px;
  margin: 0 50px;
  padding: 0 12px;
  text-transform: capitalize;
}

.gallery-controls-button:focus{
  outline: none;
}

.gallery-controls-previous{
  position: relative;
}

.gallery-controls-previous::before{
  border: solid #000;
  border-width: 0 5px 5px 0;
  content: '';
  display: inline-block;
  height: 5px;
  left: -30px;
  padding: 10px;
  position: absolute;
  top: 25%;
  transform: rotate(135deg) translateX(-50%);
  transition: left 0.15s ease-in-out;
  width: 5px;
}

.gallery-controls-previous:hover::before{
  left: -40px;
}

.gallery-controls-next{
  position: relative;
}

.gallery-controls-next::before{
  border: solid #000;
  border-width: 0 5px 5px 0;
  content: '';
  display: inline-block;
  height: 5px;
  padding: 10px;
  position: absolute;
  right: -30px;
  top: 45;
  transform: rotate(-45deg) translateX(-50%);
  transition: right 0.15s ease-in-out;
  width: 5px;
}

.gallery-controls-next:hover:before{
  right: -40px;
}

.gallery-nav{
  bottom: -15px;
  display: flex;
  justify-content: center;
  list-style: none;
  position: absolute;
  width: 100%;
}

.gallery-nav li{
  background: #ccc;
  border-radius: 50%;
  height: 10px;
  margin: 0 16px;
  width: 10px;
}
.gallery-nav li.gallery-item-selected{
  background: #555;
}
.gallery-title{
  padding: 1rem;
}

.titolo{
  text-align: center;
  font-family: Viga;
  color: var(--blue);
  font-size: 3rem;
}
.eventi-text{
  text-align: center;
}

/*==============================================EVENTS==============================================*/

.title-event{
  font-size: 3.5rem;
  
}

.time-event{
  font-size: 1.9rem;
  color: var(--light-blue);
}

.desc-event{
  font-size: 1.5rem;
}
.title{
  font-size: 5rem;
}


.card-container{
  grid-area: events;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 100px;
}

.card{
  width: 325px;
  background-color: hsl(221, 64%, 91%);
  border-radius: 10px;
  box-shadow: 0px 5px 10 px rgba(0,0,0,0.3);
  cursor: pointer;
  
}

.card-content{
  padding: 30px 30px;
  line-height: 1.3;
}

.card-content h1{
  font-size: 35px;
  margin-bottom: 10px;
  color: #000;
}

.card-content p{
  font-size: 17px;
  margin-bottom: 20px;
  color: #666;
}


.card-container .card {
  transform: translateY(-15px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
